<html>
	<head>
			<title>Ninja Blocks WiFi Setup</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<script src="/js/jquery-1.8.2.min.js" type="text/javascript"></script>
			<script src="/js/auth.js" type="text/javascript"></script>
			<link rel="stylesheet" href="/css/bootstrap-responsive.css" type="text/css" />
			<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
			<link rel="stylesheet" href="/css/style.css" type="text/css" />
	</head>

	<body>
		<div class="container">

			<div class="hero-unit">

				<h1>You Need Authorization</h1>
				<p>If you landed here from your dashboard, please try again.</p>
			</div>

		</div>
	</body>
</html>
