<html>
	<head>
			<title>Ninja Blocks WiFi Setup</title>
			<script src="/js/jquery-1.8.2.min.js" type="text/javascript"></script>
			<script src="/js/plugin.js" type="text/javascript"></script>
	</head>

	<body>
		<div class="content">
			<div class="header">
				<h2>Please plug-in the WiFi adapter now.</h2>
			</div>

			<img src="/images/plug_in_wifi.svg" />
		</div>
	</body>
</html>
